{% extends '::base.html.twig' %}
{% block body %}
    <div class="row">
    <div class="col-md-7">
        {{ form_start(form, {'attr': {'id':'forecast'}, 'action': path('log.save')}) }}
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.location) }}
            {{ form_widget(form.location, {'attr': {'class': 'form-control'}, 'id': 'location'}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.days) }}
            {{ form_widget(form.days, {'attr': {'class': 'form-control' }}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.comments) }}
            {{ form_widget(form.comments, {'attr': {'class': 'form-control', 'rows': 3 }}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.history) }}
            {{ form_widget(form.history, {'attr': {'class': 'form-control' }} ) }}
        </div>
        <button class="btn btn-primary ladda-button" data-style="expand-right"><span class="ladda-label">Прогноз</span>
        </button>
        {{ form_end(form) }}
    </div>
    <div class="col-md-5" id="weather">
        <h4>Прогноз погоды:</h4>
        <ul class="list-unstyled"></ul>

    </div>
{% endblock %}